main{
    display: flex;

}
.linha-tempo{
   display: flex;
   justify-content: center;
<<<<<<< HEAD
   position: relative;

   transform: translate(30px,-120px);


   height: 420px;

=======
   height: 320px;
   
>>>>>>> 1ea0d1f3c1ba27875aa064527a1d87e38a56b254
}
.conteudo{
   /* tem  a horizontal continua */
    display: flex;
    flex-direction: row;    
    flex-wrap: nowrap;
    justify-content: center;

    margin-bottom: 50px;
    margin-top: 50px;
    width: fit-content;
<<<<<<< HEAD

    float: bottom;

=======
    transform: translate(0,40px);
>>>>>>> 1ea0d1f3c1ba27875aa064527a1d87e38a56b254
   
 }
::-webkit-scrollbar{
background-color: #1d1d1d;
width: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;

}
::-webkit-scrollbar-thumb{
   background-color: #5b5b5b;   
   border-radius: 5px;

}

 .conteudoV{
   /* tem  a vertical */
   /* obs:definir tamanho das colunas */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;

    width: 100%;
    padding-right: 30px;
    

 }
.button button {
   /* transição */
  margin: 1rem;
  transition: all 0.5s ease;
}
 
.button:hover {
   /* transição para aumentar o botão */
  cursor: pointer;
  transform: scale(3);
  background-image: url("../imagens/bbb.png");
  filter: brightness(120%);  
  transition: all 0.8s ease;  

  
}
