 body{
  margin-top: 30px;
  background: linear-gradient(#013D56, #009ee2);
  height: 100vh;

}

 .login-box{

  font-family: 'Quicksand', sans-serif;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0,0,0,9);
  background-color: #052e3f;
  
 }

 .login-box label{
  color: beige;
 }
 

 .login-box a{
  color: white;
  text-decoration: none;
  outline: none;

  font-size: 24px;
 }

 .login-box button{
  font-size: 24px;
  background: none;
  border: none;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
 }