  

    #overlay {
        /* configuração de fundo do overlay */
      
          position: absolute; 
          overflow-y: scroll;
          display: none;
          height: 80%;
          width: 80%;
      
          background: linear-gradient(to bottom, #013D56, #002535) ;
          z-index: 3;
          border: 2px solid #f8f8f7;
          border-radius: 8px;
        }
        #o{
          /* div invisivel para poder fechar o overlay */

          

          z-index: 20px;
          cursor: pointer;
          backdrop-filter: blur(6px)
        
        }
        #text{
          position: absolute;
          top: 50%;
          left: 50%;
          font-size: 50px;
          text-decoration-color: #f8f8f7;
          color: white;
          transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
        }
        .descricao{
          width: 50%;
      
          color: white;
          display: flex;
          align-content: left;
        }
        .tabela  {
          display: flex;
        }
        table, th, td{
          text-align: left;
        }
        th{
          vertical-align:top;
          border-bottom: black;
        }
        td{
          max-height: 100px;
          overflow:auto;
          text-overflow: ellipsis; 
        }
        .imagens{
          width: 50%;
        }
      
        .conteudo-overlay{
          padding-top: 20px;
          width: 100%;
          display: flex;
      
        }
        .centered {
          position: fixed;
          left: 50%;
          transform: translate(-50%, 0);
        }
        #corpo{
          display: block;
        }
      