#overlay {
  /* configuração de fundo do overlay */
    position: fixed; 
    overflow-y: scroll;
    display: none;
    inset: 0;
    width: 50%;
    left: 25%;
    background-color: #013D56;
    z-index: 2;
    border: 2px solid #f8f8f7;
  }
  #o{
    /* div invisivel para poder fechar o overlay */
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  
    z-index: 1;
    cursor: pointer;
  
  }
  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    text-decoration-color: #f8f8f7;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
  .descricao{
    width: 50%;

    color: white;
    display: flex;
    align-content: left;
  }
  .tabela  {
    display: flex;
  }
  table, th, td{
    align-content: left;
    text-align: left;
  }

  .imagens{
    width: 50%;
  }

  .conteudo-overlay{
    padding-top: 20px;
    width: 100%;
    display: flex;

  }
  .centered {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}
#corpo{
  display: block;
}