* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu ul {
    list-style-type: none;
    display: flex;
}

.menu li {
    width: 100%;
    text-align: center;
    position: relative;
}

.menu li:hover .submenu > li {
    display: block;
    flex-direction: column;
    top: 0;
}

.menu a {
    display: flex;
    text-align: center;
    background-color: #1e2125;
    color: white;
    font-family: sans-serif;
    height: 64px;
    font-weight: bold;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: background 0.4s;
}

.menu a:hover {
    background-color: lightgray;
    color: black;
}

.submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}

.submenu li {
    display: none;
    position: relative;
    top: 0;
}
