.tooltip {
    position: relative;
    display: flex;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin-left: 2px;

}
.tooltopimage{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: 0;
    margin-left: 2px;
}

.tooltopimage:hover{
    opacity: 1;   
    z-index: 1000 !important;
    border-radius: 50%;
    cursor: pointer;
    transform: scale(3);
    transition: all 0.8s ease;  

}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    height: 100px;
    background-color: #DDBB43;
    color: rgb(0, 0, 0);
    text-align: center;                        
    border-radius: 5px;
    padding: 50px 0;
                        
    /* Position the tooltip */
    position: absolute;
    z-index: 10;
    bottom: 200%;
    left: -350%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
                        