src/View/bootstrap/*
src/View/bootstrap-icons/*
src/Persistencia/Arquivos/EstruturasGenericas/abacates_malucos.txt
src/Persistencia/Arquivos/EstruturasGenericas/disco_rigido.txt
src/Persistencia/Arquivos/EstruturasGenericas/teste.txt
src/Persistencia/Arquivos/EstruturasGenericas/teste1.txt
src/Persistencia/Arquivos/tabelas_genericas.txt
src/Persistencia/Arquivos/tabelas_genericas.txt
src/Arquivos/testes.txt
src/Arquivos/disco_rigido.txt
