* {
    box-sizing: border-box;
}

body{
    display: flex;
   
    align-items: center;
}

section{
    display: flex;
    align-content: center;
    align-items: center;
}

li{
    list-style: none;

}

a:hover{
    color: #0a58ca;
}

.menu{
    display: flex;
    list-style: none;
    height: 100%;
    
    flex-direction: row;
    justify-content: space-between;
}
.menu-itens{
    display: flex;
    justify-content: space-between;
}

.menu-item{
    display: flex;
    align-items: stretch;   
    padding: 10px;
}
.menu-img{
    display: flex;
    height: 80px;
    padding: 6px;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1600px;
    margin: auto;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
}

.corpo{
    display: flex;
    width: 790px;
    background: #f8f9fa;
    border-radius: 10px;
    overflow: hidden;
    padding: 30px 55px 60px;
}
.em-linha{
    display: flex;
    flex-direction: row;
    padding: 5px 0px;
}
.em-coluna{
    display: flex;
    flex-direction: column;
}
th, td {
    border: 1px solid black;
}

a.botao {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
}
