#overlay {
  /* configuração de fundo do overlay */
    position: fixed;
    display: none;
    width: 70%;
    height: 100%;
    top: 0;
    left: 15%;
    right: 0;
    bottom: 0;
    background-color: rgb(22, 8, 66);
    z-index: 2;
  }
  #o{
    /* div invisivel para poder fechar o overlay */
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  
    z-index: 1;
    cursor: pointer;
  
  }
  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }