.header{
    display: flex;
    height: 80px;
    background-color: #fff;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.logo{
    margin: 5px;
    padding: 6px;
    height: 80px;
}


.menu{
    display: flex;
    list-style: none;
    height: 100%;
}

.menu-item{
    display: flex;
    align-items: stretch    ;   
    height: 100%;
    border-bottom: 4px solid transparent;

    font-size: 30px;
}

.menu-item:hover{
    border-bottom: 4px solid blueviolet;
}


.menu-item-link{ 
    display: flex;
    align-items: center;
    padding: 20px;
    color: #898989;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: 400;
}
